.audio_button_container{
  position:absolute;
  width:3%;
  left:5%;
  top:90%;
  z-index:99;
}

.audio_icon{
  width:100%;
}

.audio_icon_character{
  position:absolute;
  width:3%;
  right:5%;
  background:black;
  border-radius:50%;
  margin-top:2%;
  top:0%;
  z-index:99;
}
