.ghost_fire_ani{

  position: absolute;
  width:10%;
  z-index:999;
  animation: ghost_fire .6s 1 ease-in;
  opacity:0;
  top:10%;
  filter:invert(16%) sepia(10%) saturate(5583%) hue-rotate(146deg) brightness(96%) contrast(94%);

}

.spirit_chant_ani{

  position: absolute;
  width:20%;
  left:130%;
  z-index:99;
  animation: spirit_chant 5s 1 ease-in;
  opacity:0;
  top:30%;

}

.ice_punch_ani{

  position: absolute;
  width:20%;
  left:135%;
  z-index:99;
  animation: ice_punch 1s 1 ease-in;
  opacity:0;
  top:30%;

}

.ice_punch_ani_enemy{

  left:-60%;

}

.ghost_claw_ani{

  position: absolute;
  width:20%;
  left:135%;
  z-index:99;
  animation: ghost_claw 1s 1 ease-in;
  opacity:0;
  top:30%;

}

.ghost_claw_ani_enemy{

  left:-70%;

}

.raging_thunder_ani{

  position: absolute;
  width:5%;
  left:135%;
  z-index:99;
  animation: raging_thunder .5s 1 ease-in;
  opacity:0;
  top:50%;

}

.raging_thunder_ani_enemy{

  left:-70%;

}

.spirit_chant_ani_enemy{

  left:-70%;

}

.ghost_fire_ani_enemy{

  animation: ghost_fire_enemy 1s 1 ease-out !important;

}

@keyframes ghost_claw{
  0%{
    opacity:100%;
  }
  20%{
    transform:scale(2);
    opacity:20%;
  }
  40%{
    opacity:100%;
  }
  60%{
    opacity:20%;
    transform:scale(3);
  }
  80%{
    opacity:100%;
  }
  100%{
    opacity:0%;
    transform:scale(1);
  }

}

@keyframes ice_punch{
  0%{
    opacity:50%;
    transform:scale(0);
    transform:rotate(0deg);
  }
  50%{
    transform:rotate(720deg);
    opacity:100%;
  }
  80%{
    transform:scale(5);

  }
  100%{
    opacity:0%;
    transform:scale(5);

  }

}

.robotic_bite_ani{

  position: absolute;
  width:25%;
  z-index:999;
  animation: venom_boost .4s 3 ease-in;
  opacity:0;
  top:15%;
  left:135%;
  filter:invert(65%) sepia(93%) saturate(1219%) hue-rotate(96deg) brightness(107%) contrast(101%);

}

.robotic_bite_ani_enemy{

  left:-70%;

}

@keyframes spirit_chant {

  0%{
    transform: scale(1);
    opacity:1;
    top:40%;
    transform:rotate(0deg);
  }

  50%{
    top:20%;
    transform: scale(2);
    opacity:.5;
  }
  100%{
    opacity:0;
    transform: scale(2);
    transform:rotate(0deg);
  }

}

@keyframes raging_thunder {

  0%{
    transform: scale(2);
    opacity:1;
    top:5%;
    transform:rotate(0deg);

  }

  50%{
    top:30%;
    transform: scale(2.5);
    opacity:.5;
  }
  100%{
    opacity:0;
    transform:rotate(0deg);
  }

}


@keyframes ghost_fire {

  0%{
    left:-50%;
    transform: scale(2);
    opacity:.5;
    top:20%;
    transform:rotate(0deg);
  }

  10%{
    top:25%;
    transform: scale(1.2);
    opacity:1;


  }

  20%{
    top:20%;
    transform: scale(1);

  }

  30%{
    top:25%;
    transform: scale(1.2);

  }

  40%{
    top:20%;
    transform: scale(1);
    opacity:1;
  }

  50%{
    top:25%;
    transform: scale(1.2);
  }

  60%{
    top:20%;
    transform: scale(1);
  }

  70%{
    top:25%;
    transform: scale(1.2);
    left:145%;
  }

  100%{
    transform: scale(2);
    opacity:.5;
    top:20%;
    transform:rotate(0deg);

  }

}

@keyframes ghost_fire_enemy {

  0%{
    left:120%;
    transform: scale(2);
    opacity:.5;
    top:20%;
    transform:rotate(0deg);
  }

  10%{
    top:25%;
    transform: scale(1.2);
    opacity:1;
  }

  20%{
    top:20%;
    transform: scale(1);
  }

  30%{
    top:25%;
    transform: scale(1.2);
  }

  40%{
    top:20%;
    transform: scale(1);
    opacity:1;
  }

  50%{
    top:25%;
    transform: scale(1.2);
  }

  60%{
    top:20%;
    transform: scale(1);
  }

  70%{
    top:25%;
    transform: scale(1.2);
    left:-70%;
  }

  100%{
    transform: scale(2);
    opacity:.5;
    top:20%;
    transform:rotate(0deg);
  }

}
